/* .project-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    background-color: #f8f8f8;    
    margin: 20px auto;
    
    border: 2px solid skyblue;
  } */
  
  /* /* .project {  */
    
    /* text-align: center; */
    /* background-image: url("1.jpg"); */
   
  

/*   
  .slider-button {
    
    border: 2px solid skyblue;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
  }
  
  .prev {
    transform: scaleX(-1);
  }
  
  .next {
    transform: scaleX(1);
  } 
*/
  