body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar{
  display:flex;
  align-items: center;
  justify-content: space-between;
  
}
ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

ul > li , button{
  margin: 0.5rem 2rem 0.5rem 1rem ;
  
}

li{
  list-style-type: none;
  font-size: 1rem;
  font-weight: bold;

}

#logo{
  font-style: italic;

}

button{
  border: solid 2px skyblue ;
  border-radius: 10%;
  font-size: 1rem;
  background-color: white;
}

li:hover{
  cursor: pointer;
  color: blueviolet;
}

button:hover{
  cursor: pointer;
  border-color: blueviolet;
}


@media (min-width:500px){
  #navbar{
    
  }
}
